@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

#header{
    color: snow;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(131,45,253,0.7682423311121324) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(131,45,253,0.7682423311121324) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(131,45,253,0.7682423311121324) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#832dfd",GradientType=1);
    position:relative;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#header h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.search-column{
    background-color:rgb(34,193,195);
    width: 80%;
    border: 1px solid black;
}

.list-group-item{
    line-height: 0.5;
    border: none;
    border-radius: 50%;
}


.card-body, .card-header{
    flex: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(34,193,195);
    bottom: 10px;
   }


.img {
    font-size: 10px;
}

#row {
    border-radius: 50%;
}


.col-12 {
    text-align: center;
    font-size: larger;
}

span.extreme{
    padding: 3px;
    background-color: rgb(102, 6, 97);
    color:white;
}

span.danger{
    padding: 3px;
    background-color: rgb(209, 9, 9);
    color:white;
}
span.high{
    padding: 3px;
    background-color: rgb(185, 91, 14);
    color:white;
}
span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.low{
    padding: 3px;
    background-color: green;
    color:white;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(41, 171, 194);
    background-size: cover;
    color: snow;
    text-align: center;

 }
 /* Media queries */
@media only screen and (max-width: 992px) {
    #citySearch{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}
 